* {
	box-sizing: border-box
}


.hidden, .hidden-text {
	display: none !important;
}


body {
	margin: 0
	background: $color__white	
	color: $color__text--dark
	//overflow-x: hidden
	user-select: none
}

body.no-scroll {
	width: 100%
	height: 100%
	overflow: hidden
}

