@import 'config'
@import 'colors'
@import 'typography'
@import 'icons'
@import 'buttons'
@import 'links'
@import 'base'

@import 'components/intro'
@import 'components/faq'
@import 'components/footer'
@import 'components/machine'
@import 'components/outputs'
@import 'components/wizard'
@import 'components/recording'


.wrapper {
  overflow-x: hidden
	background: url(assets/background.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover	 
	background-color: $color__background
}
